@charset "utf-8";

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    
    display: flex;
    width: 100%;
}
// 定义底部的宽和边距值，并固定在底部，并达到水平居中

.home-footer {
    @extend .footer;
    height: 5em;
    padding: 0.4em 8em;

    align-items: center;
    justify-content: space-between;

    background-color: #F8FAFB;
}
// 定义首页的底部的宽和边距值