@media all and (orientation: portrait) {
  @media (min-width: 980px) {
    html {
      font-size: 2rem;
    }
  } /* 竖屏电脑 */
  @media (min-width: 768px) and (max-width: 979px) {
    html {
      font-size: 1.5rem;
    }
  } /* 竖屏平板 */
  @media (max-width: 767px) {
    html {
      font-size: 1rem;
    }
  } /* 竖屏手机 */
}

@media all and (orientation: landscape) {
  @media (min-width: 1024px) {
    html {
      font-size: 2rem;
    }
  } /*横屏网页 */
  @media (max-width: 1023px) {
    html {
      font-size: 1rem;
    }
  }
} /* 横屏手机 */

@font-face {
  font-family: "STHeitiSC-Light";
  src: url("../personal-page/fonts/STHeitiSC-Light/stheitisc.otf")
      format("opentype"),
    url("../personal-page/fonts/STHeitiSC-Light/stheitisc.woff") format("woff"),
    url("../personal-page/fonts/STHeitiSC-Light/stheitisc.ttf")
      format("truetype"),
    url("../personal-page/fonts/STHeitiSC-Light/stheitisc.eot")
      format("embedded-opentype"),
    url("../personal-page/fonts/STHeitiSC-Light/stheitisc.svg") format("svg");

  font-family: "HiraginoSansGBW3";
  src: url("../personal-page/fonts/HiraginoSansGBW3/HiraginoSansGBW3.otf")
      format("opentype"),
    url("../personal-page/fonts/HiraginoSansGBW3/HiraginoSansGBW3.woff2")
      format("woff2"),
    url("../personal-page/fonts/HiraginoSansGBW3/HiraginoSansGBW3.woff")
      format("woff"),
    url("../personal-page/fonts/HiraginoSansGBW3/HiraginoSansGBW3.ttf")
      format("truetype"),
    url("../personal-page/fonts/HiraginoSansGBW3/HiraginoSansGBW3.eot")
      format("embedded-opentype"),
    url("../personal-page/fonts/HiraginoSansGBW3/HiraginoSansGBW3.svg")
      format("svg");
} /* 引用设计字体 */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-size: 0.625rem;
  font-family: "STHeitiSC-Light", sans-serif;

  background-color: #fff;
} /* 设置全局属性，由于轮播的div宽度撑宽body，所以添加隐藏水平滚动内容 */
button,
input,
input:focus,
textarea,
textarea:focus {
  background: none;
  outline: none;
  border: none;
} /* 去除默认样式 */

header {
  position: fixed;
  top: 0;
  display: flex;
  z-index: 1000;

  width: 100%;
  height: 4.4em;

  color: #fff;
  background-color: #5fc0cd;
} /* 固定标题栏在顶部 */
.back {
  position: absolute;
  left: 0;
  padding: 0;

  width: 3.45em;
  height: 100%;

  background: url(../personal-page/img/back@2x.png) no-repeat center;
  background-size: 0.75rem 1.35rem;
} /* 定义按钮的位置、点击范围和图标应用 */
.back:active {
  background-color: #4c9aa4;
  background-size: 0.9em 1.62em;
} /* 定义点击时按钮的样式 */
.title {
  margin: auto auto;

  font-size: 1.8em;
  font-weight: 500;
} /* 定义标题位置及字体类型 */

main {
  margin-top: 4.4em;
  width: 100%;
} /* 定义主体内容的开始位置 */

.top_half {
  position: relative;

  width: 100%;
  height: 16.4em;
}
.bg_img {
  position: absolute;
  display: flex;

  width: 300%;
  height: 16.4em;
} /* 为使图片轮播，采用包含块移动时带图片移动，由此包含块宽度为图片的三倍，且溢出部分隐藏 */
.img1 {
  width: 33.3%;
  height: 100%;

  background: url(../personal-page/img/bg1@2x.png) no-repeat;
  background-size: cover;
}
.img2 {
  width: 33.4%;
  height: 100%;

  background: url(../personal-page/img/bg2@2x.png) no-repeat;
  background-size: cover;
}
.img3 {
  width: 33.3%;
  height: 100%;

  background: url(../personal-page/img/bg1@2x.png) no-repeat;
  background-size: cover;
} /* 赋予上半部分的背景图片，及轮播时各图片的尺寸为包含块的三分之一 */
@media screen and (-webkit-device-pixel-ratio: 3) {
  .img1 {
    background: url(../personal-page/img/bg1@3x.png) no-repeat;
    background-size: cover;
  }
  .img2 {
    background: url(../personal-page/img/bg2@3x.png) no-repeat;
    background-size: cover;
  }
  .img3 {
    background: url(../personal-page/img/bg1@3x.png) no-repeat;
    background-size: cover;
  }
} /* 媒体查询，识别dpi为三倍时，应用三倍图 */
.img1::after,
.img3::after {
    content: "";  
    position: absolute;
    top: 0;
    left: 0;

    width: 33.3%;
    height: 100%;

    background-color: #89eacd;
}
.img2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 33.4%;
    height: 100%;

    background-color: #addde9;
} /* 预加载时，作为占位图呈现 */

@keyframes move {
  0%,
  20% {
    transform: translateX(0);
  }
  50%,
  70% {
    transform: translateX(-33.3%);
  }
  100% {
    transform: translateX(-66.7%);
  }
} /* 声明一个关键帧动画move，时间的0%处为img1，50%时移动为img2，100%时移动为img1，如此循环 */
.bg_img {
  -webkit-animation: move 5s ease-in-out infinite;
  -moz-animation: move 5s ease-in-out infinite;
  -ms-animation: move 5s ease-in-out infinite;
  -o-animation: move 5s ease-in-out infinite;
  animation: move 5s ease-in-out infinite;
} /* 给包含块定义动画属性，从左到右的属性为：
应用关键帧动画move，动画总时长为5s，动画的缓动效果为渐进渐出(ease-in-out)，infinite为循环播放 */
.bg_img:active {
  animation-play-state: paused;
} /* 点击时，动画效果停止 */

.information {
  position: absolute;
  top: 4em;
  left: 1.5em;
  display: flex;

  color: #fff;
}
.information .head {
  width: 8.4em;
  height: 8.4em;

  background: url(../personal-page/img/head@2x.png) no-repeat;
  background-size: cover;
} /* 把个人信息分为头像和基本信息两个区域，实现并排一行 */
.information .profile {
  display: flex;
  flex-direction: column;
} /* 把基本信息又分为名字年龄区和地址区，实现垂直对齐 */

.profile .account {
  margin-top: 1.8em;
  margin-left: 2em;
  display: flex;
  align-items: center;

  height: 1.8em;
}
.account .name {
  font-size: 1.8em;
}
.account .age {
  margin-left: 1em;
  font-size: 1.4em;
} /* 名字年龄区限制高度为最大子元素的高度，实现年龄与最大子元素即名字的水平居中对齐 */

.profile .address {
  margin-top: 1.2em;
  margin-left: 2.2em;
  display: flex;
  align-items: center;

  height: 1.2em;
}
.address .icon {
  width: 0.9em;
  height: 1.2em;

  background: url(../personal-page/img/location@2x.png) no-repeat;
  background-size: cover;
}
.address .text {
  margin-left: 0.5em;
  font-size: 1.2em;
} /* 地址区限制高度为最大子元素的高度，实现图标和最大子元素即地址信息的水平居中对齐 */

.bottom_half {
  margin: 0;
  margin-bottom: 8.4em;
  display: flex;
  flex-direction: column;
} /* 预留拉到底部时的空间，避免标签栏遮住内容 */

section[class^="work"] {
  margin-left: 1.6em;
  display: flex;
  align-items: center;

  width: 100%;
  height: 5em;

  border-bottom: 0.1em solid #e1e5e7;
  color: #333;
} /* 定义下半部分的全局属性 */
section[class^="work"] span:first-child {
  margin-left: 1em;

  font-size: 1.6em;
  white-space: nowrap;
  color: #999;
} /* 定义下半部分中左侧的文字属性及不换行 */
section[class^="work"] span:nth-child(2) {
  margin-left: 0.875em;

  font-size: 1.6em;
} /* 定义下半部分中右侧的文字属性 */
.bottom_half section:not([class="work_subhead"]) span:first-child::after {
  content: "";
  padding-right: 0.875em;
  height: 0.875em;

  border-right: 0.0625em solid #e1e5e7;
} /* 通过插入伪元素来做边框装饰，伪元素一定要声明content值才生效 */

section[class$="subhead"] span:first-child {
  margin-left: 0;

  width: 0;
  height: 1.5em;

  font-size: 0.625em;
  border-left: 0.2em solid #5fc0cd;
} /* 定义"专业技能"的左侧图标 */
section[class$="subhead"] span:last-child {
  margin-left: 0.875em;
} /* 定义“专业技能”的位置 */
section[class$="price"] span:nth-child(2) {
  font-family: "HiraginoSansGBW3", sans-serif;
  color: #e26163;
} /* 定义部分section下的特殊文字属性，由于属性选择器的权值为10+1，所有后续要覆盖也要用属性选择器及以上 */

section[class$="label"] div {
  display: flex;
  align-items: center;
} /* 定义两个标签的位置和水平居中对齐 */
section[class$="label"] div:first-child {
  margin-left: 1.4em;
} /* 定义“住家”标签的位置 */
section[class$="label"] div:nth-child(2) {
  margin-left: 2em;
} /* 定义“不加餐”标签的位置 */
section[class$="label"] span:nth-child(2) {
  margin-right: 0;
  margin-left: 0.3em;
} /* 定义两个标签文本的位置 */
section[class$="label"] .icon {
  width: 1.2em;
  height: 1.2em;

  background: url(../personal-page/img/label@2x.png) no-repeat;
  background-size: cover;
} /* 定义两个标签图标 */

section[class$="introduction"] {
  margin-left: 0;
  min-height: 5em;
  padding-left: 1.6em;
  display: flex;
  align-items: center;

  border-bottom: 0.1em solid #e1e5e7;
  color: #333;
} /* 为使“自我介绍”一栏高度随文本内容自适应，采用弹性模型且高度不定 */
section[class$="introduction"] span:first-child {
  align-self: flex-start;
  margin-top: 1em;
  margin-left: 1em;

  font-size: 1.6em;
  white-space: nowrap;
  color: #999;
} /* 定义“自我介绍”的左侧文字固定位置，单独改变排列位置在顶部 */
section[class$="introduction"] span:nth-child(2) {
  margin: 0.7em 3em 0.7em 1em;

  font-size: 1.4em;
  line-height: 1.5;
}
section[class$="introduction"] ol {
  padding-left: 0;
  margin: 0.5em 0 0 1em;
} /* 定义“自我介绍”的右侧文字属性，文本位置水平居中，包含块高度随内容改变 */

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  padding: 2em;

  width: 100%;
} /* 定义标签栏固定在底部 */

.message {
  width: 42.5%;
  height: 4.2em;

  border: 0.1em solid #5fc0cd;
  border-radius: 0.5em;
  background-color: #fff;
}
.message button {
  margin: auto auto;

  width: 100%;
  height: 100%;

  font-family: "HiraginoSansGBW3", sans-serif;
  font-size: 1.8em;
  color: #5fc0cd;
}
.message button:active {
  background-color: #5fc0cd;
  color: #fff;
} /* 定义“留言”按钮样式 */

.phone {
  margin-left: 1.2em;

  width: 42.5%;
  height: 4.2em;

  border: 0.1em solid #5fc0cd;
  border-radius: 0.5em;
  background-color: #5fc0cd;
}
.phone button {
  width: 100%;
  height: 100%;

  margin: auto auto;

  font-family: "HiraginoSansGBW3", sans-serif;
  font-size: 1.8em;
  color: #fff;
}
.phone button:active {
  background-color: #fff;
  color: #5fc0cd;
} /* 定义“电话”按钮样式 */

aside {
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 1200;
  display: none;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, .5);
} /* 定义弹出页 */
aside form {
  position: fixed;
  top: -33em;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 25em;
  background-color: #fff;
} /* 定义弹出的留言窗口 */

.operating {
  display: flex;
  align-items: center;
  position: relative;

  width: 100%;
  height: 3.9em;

  border-bottom: 0.1em solid #e5e5e5;
}
.close {
  position: absolute;
  left: 0;

  width: 4.5em;
  height: 100%;

  font-size: 1.6em;
  font-family: "HiraginoSansGBW3", sans-serif;
  color: #ea8989;
}
.finish {
  position: absolute;
  right: 0;

  width: 4.5em;
  height: 100%;

  font-size: 1.6em;
  font-family: "HiraginoSansGBW3", sans-serif;
  color: #ea8989;
} /* 定义操作区，以及两个按钮的样式，奇怪的是，按钮继承不了样式 */
.close:active,
.finsh:active {
  background-color: #e5e5e5;
  color: #fff;
} /* 定义按钮点击状态时的样式 */

.writing {
  display: flex;
  margin: 2em;
  margin-bottom: 0.4em;
  overflow: hidden;

  width: 89%;
  height: 100%;
  border-bottom: 0.1em solid #e5e5e5;
} /* 定义输入内容区的样式 */

.content {
  padding-bottom: 1em;
  width: 100%;
  
  font-size: 1.6em;
  font-family: "HiraginoSansGBW3", sans-serif;
}
.content::-webkit-input-placeholder {

  color: #b0b0b0;
}
.content:-moz-placeholder {
  color: #b0b0b0;
}
.content::-moz-placeholder {
  color: #b0b0b0;
}
.content:-ms-input-placeholder {
  color: #b0b0b0;
} /* 定义多行文本框的样式 */

.num {
  position: absolute;
  bottom: 1em;
  right: 1.5em;

  font-size: 1.4em;
  color: #b0b0b0;
} /* 定义字数区的样式 */

@keyframes slide {
   0% {
       top: -33em;
   }
   100% {
       top: 6.4em;
   }
}
aside form {
  -webkit-animation: slide 1s ease forwards;
  -moz-animation: slide 1s ease forwards;
  -ms-animation: slide 1s ease forwards;
  -o-animation: slide 1s ease forwards;
  animation: slide 1s ease forwards;
} /* 定义留言板出现的动画 */