@charset "utf-8";

@import "../base/colors";

@import "../pages/home";

.header-btn {
  position: absolute;
  padding: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3.6em;
  height: 100%;
  &-left {
    @extend .header-btn;
    left: 0;
  }
  &-right {
    @extend .header-btn;
    right: 0;
  }
  &:hover {
    background-color: darken($color-primary, 20%);
  }
  &-left::before {
    content: "";

    width: 1em;
    height: 1em;

    border-top: 0.2em solid #fff;
    border-left: 0.2em solid #fff;

    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
// 定义标题栏的左端按钮的边距和大小

.header {
  &-switch {
    position: relative;

    display: flex;
    align-items: center;
    width: 14.3em;
    height: 3.5em;

    background-color: #55a8b3;
    border-radius: 0.5em;
    cursor: pointer;

    &-bg {
      position: absolute;
      right: 0;

      width: 7.2em;
      height: 3.5em;
      background-color: #fff;
      border-radius: 0.5em;

      transition: right 0.2s linear;
    }
    &-left {
      z-index: 1;
      width: 50%;
      text-align: center;

      @extend %switch-font-left;
      transition: color 0.2s linear;
    }
    &-right {
      @extend .header-switch-left;
      @extend %switch-font-right;
    }
  }

  &-map {
    width: 5.1em;
    height: 4.4em;

    & .map-icon {
      width: 2.1em;
      height: 2.2em;
    }
  }
}
// 定义标题栏的切换开关的样式，以及右端地图按钮的大小
.page-switch {
  display: none;
  &:checked {
    & + .header .header-switch-bg {
      right: 50%;
    } // 滑块位移
    + .header .header-switch-left {
      color: $color-primary;
    }
    + .header .header-switch-right {
      color: #fff;
    } // 文字颜色变化

    & ~ .home-inner .home-page-front {
      transform: translateX(100%) rotateY(-180deg);
    }
    & ~ .home-inner .home-page-back {
      transform: translateX(0) rotateY(0deg);
    } // 3D翻转效果
  }
}
// 定义标题栏的切换开关的动画效果以及实现页面3d翻转切换



.footer-btn {
  width: 100%;
  height: 2.75em;

  border-radius: 0.3125em;
  &-left {
    @extend .footer-btn;
    @extend %footer-font-left;

    border: 0.0625em solid $color-primary;
    background-color: #fff;
  }
  &-right {
    @extend .footer-btn;
    @extend %footer-font-right;

    margin-left: 3%;
    background-color: $color-primary;
  }
  &-left:hover {
    border: none;
    background-color: $color-primary;
    color: #fff;
  }
  &-right:hover {
    border: none;
    border: 0.0625em solid $color-primary;
    background-color: #fff;
    color: $color-primary;
  }
}
// 定义底部栏的按钮的大小和悬浮状态

.home-footer {
  &-left,
  &-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-text-left {
    @extend %home-footer-font-left;
  }
  &-text-right {
    @extend %home-footer-font-right;
  }
  
  &-middle {
    width: 4.6em;
    height: 4.6em;

    & .rudder-icon {
      width: 4.6em;
      height: 4.6em;
    }
  }

  & .left-icon {
    width: 2.4em;
    height: 2.4em;

    & .home-icon {
      width: 2.3em;
      height: 2em;
    }
  }
  & .right-icon {
    width: 2.4em;
    height: 2.4em;

    & .user-icon {
      width: 2.1em;
      height: 2.1em;
    }
  }
}
// 定义首页底部标签栏的各个按钮样式
