@charset "utf-8";

@import "../base/colors";

.form {
    margin-top: 5.2em;
    width: 100%;
}
// 定义表格的宽和外边距

.form-input-group {
  margin-top: 0.8em;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5em;

  background-color: #FFF;
}
// 定义输入框组的样式 

.form-input {
    margin-left: 1em;
    height: 100%;
    color: $color-primary;

}
// 定义输入框的高度 
.form-input-label {
    display: flex;

    width: 5.8em;
    height: 2.6em;
    border-right: 0.1em solid $color-secondary;
    cursor: pointer;
}
// 定义输入框的图标底部
.icon {
    margin: auto auto;
    .account & {
        width: 1.3em;
        height: 2em;

        background: url(../img/iphone@3x.png) no-repeat;
        background-size: cover;
    }
    .password & {
        width: 1.5em;
        height: 2.2em;

        background: url(../img/locked@3x.png) no-repeat;
        background-size: cover;
    }
}
// 定义输入框的图标图像