@charset "utf-8";

.list-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;

  padding-left: 0;
  padding-bottom: 8.4em;

  background-color: #fff;
}
// 定义列表组的样式

.list-group-item {
  display: flex;
  align-items: center;
  padding: 0 3.2em;
  border-bottom: 0.1em solid $color-secondary;

  &:not(:last-child) {
    height: 5em;
  }
  &:last-child {
    padding-top: 1em;
    padding-bottom: 1em;
    & .list-item-title {
      align-self: flex-start;
    }
  }
}
// 定义列表组内每个列表的样式
.list-group-title {
  display: flex;
  align-items: center;
  @extend %list-group-font-title;
  
  &::before {
    content: "";
    position: absolute;
    left: 0.875em;

    height: 0.875em;
    width: 0.125em;

    background-color: $color-primary;
  }
}
// 定义列表组的标题前的竖线

.list-item {
  &-title {
    margin-right: 1.75em;
    @extend %list-item-font-title;
  }
  &-text {
    @extend %list-item-font-text;
  }
  &-list {
    @extend %list-item-font-list;
  }
  &-info {
    @extend %list-item-font-info;
  }
}
// 定义列表组的每个列表与文本的间距

.list-item-label {
  margin-right: 1em;
  display: flex;
  align-items: center;
  @extend %list-item-font-text;

  &::before {
    content: "";
    display: inline-block;

    width: 1em;
    height: 1em;

    background: url(../img/label@3x.png) no-repeat left center;
    background-size: 0.75em 0.75em;
  }
}
// 定义列表组内的标签列表的标签图标

.home-list-group {
  padding-bottom: 5em;
  background-color: #fff;
}
.home-list-group-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.4em;

  height: 9em;
  border-bottom: 0.1em solid #e1e5e7;
  cursor: pointer;

  &:hover {
    background-color: darken(#fff, 10%);
  }

  & .item-top {
    display: flex;
    align-items: center;

    &-icon {
      margin-right: 0.9em;
      width: 1.2em;
      height: 1.2em;
    }
    &-text {
      @extend %home-list-group-font-top;
    }
  }

  & .item-middle {
    @extend .item-top;

    &-text {
      margin-left: 1.5em;
      @extend %home-list-group-font-middle;
    }
    &-text-info {
      margin-left: auto;
      margin-right: 0;
      @extend %home-list-group-font-info;

      &::after {
        content: "";
        display: inline-block;
        margin-left: 1em;
        margin-right: 1em;

        width: 1em;
        height: 1em;
        vertical-align: middle;

        border-top: 0.2em solid $color-primary;
        border-right: 0.2em solid $color-primary;

        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }

  & .item-bottom {
    @extend .item-top;

    &-icon {
      @extend .item-top-icon;
    }
    &-text {
      @extend %home-list-group-font-bottom;
    }
  }
}
// 定义首页列表组的每个列表各行的布局
