@charset "utf-8";

.navbar-nav {
  @extend %flex-align-center;
  height: 100%;

  background-color: #fff;
  border-bottom: 0.1em solid #e1e5e7;
}
// 定义导航栏的宽高和样式
.nav-item {
  @extend %flex-justify-center;
  @extend %flex-align-center;
  position: relative;
  height: 100%;
  @extend %navbar-font-item;

  &-input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    @extend %navbar-font-input;
    &:hover {
      background-color: darken(#fff, 10%);
    }
  }
  &::after {
    position: absolute;
    right: 1em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }

  &:not(:last-child) {
    border-right: 0.0625rem solid #e1e5e7;
  }
}
// 定义导航栏每个选项的样式
