@charset "utf-8";

$color-bg: #EFF0F4;
// 背景颜色
$color-primary: #5FC0CD;
// 主要颜色
$color-secondary: #E1E5E7;
// 次要颜色
$color-info: #E26163;
// 信息颜色
$font-title: #999;
// 题目文字颜色
$font-text: #333;
// 正文文字颜色