@charset "utf-8";

@font-face {
  font-family: "STHeitiSC-Light";
  src: url("../fonts/STHeitiSC-Light/stheitisc.otf") format("opentype"),
    url("../fonts/STHeitiSC-Light/stheitisc.woff") format("woff"),
    url("../fonts/STHeitiSC-Light/stheitisc.ttf") format("truetype"),
    url("../fonts/STHeitiSC-Light/stheitisc.eot") format("embedded-opentype"),
    url("../fonts/STHeitiSC-Light/stheitisc.svg") format("svg");

  font-family: "HiraginoSansGBW3";
  src: url("../fonts/HiraginoSansGBW3/HiraginoSansGBW3.otf") format("opentype"),
    url("../fonts/HiraginoSansGBW3/HiraginoSansGBW3.woff2") format("woff2"),
    url("../fonts/HiraginoSansGBW3/HiraginoSansGBW3.woff") format("woff"),
    url("../fonts/HiraginoSansGBW3/HiraginoSansGBW3.ttf") format("truetype"),
    url("../fonts/HiraginoSansGBW3/HiraginoSansGBW3.eot")
      format("embedded-opentype"),
    url("../fonts/HiraginoSansGBW3/HiraginoSansGBW3.svg") format("svg");
} /* 引用设计字体 */

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
// 定义全局字体、行高以及高光颜色

body {
  font: {
    family: "STHeitiSC-Light", "Microsoft YaHei", sans-serif;
    size: 0.625rem;
    weight: 500;
  }
  line-height: 1.5;
}
// 定义body标签下的全局字体样式

@each $font-bp in $bp-keys-list {
  body {
    @include respond-to($font-bp) {
      $i: index($bp-keys-list, $font-bp);
      font-size: 0.625rem + 0.125 * ($i - 1);
    }
  }
}
// 定义body标签在不同断点下的字体大小

%header-font {
  color: #fff;
  &-title {
    font-size: 1.8em;
    text-align: center;
  }
}
// 定义导航栏的字体大小和颜色

%switch-font {
  &-left {
    font-size: 1.7em;
    color: #fff;
  }
  &-right {
    font-size: 1.7em;
    color: $color-primary;
  }
}
// 定义组件-切换开关按钮的文字大小、颜色

%caption-body-font {
  color: #fff;
  line-height: 1;
  &-name {
    font-size: 1.8em;
  }
  &-age {
    font-size: 1.4em;
  }
  &-text {
    font-size: 1.2em;
  }
}
// 定义轮播图的页面文本的字体样式

%list-group-font-title {
  color: $font-text;
  font-size: 1.6em;
  font-weight: 500;
  white-space: nowrap;
}
%list-item-font {
  &-title {
    font-size: 1.6em;
    color: $font-title;
    white-space: nowrap;
  }
  &-text {
    font-size: 1.6em;
    color: $font-text;
  }
  &-list {
    font-size: 1.2em;
  }
  &-info {
    font-size: 1.6em;
    font-family: "HiraginoSansGBW3", sans-serif;
    color: $color-info;
  }
}
// 定义列表组内的各个列表的字体样式

%modal {
  &-header-font {
    font-size: 1.6em;
    color: #ea8989;
  }
  &-body-font {
    font-size: 1.6em;
    @include placeholder-color(#b0b0b0);
  }
  &-footer-font {
    font-size: 1.4em;
    color: #b0b0b0;
  }
}
// 定义模态框的字体样式

%footer-font {
  font: {
    size: 1.6em;
    weight: 500;
  }
  &-left {
    @extend %footer-font;
    color: $color-primary;
  }
  &-right {
    @extend %footer-font;
    color: #fff;
  }
}
// 定义底部的按钮文字大小和颜色

%home-footer-font {
  &-left {
    font-size: 1em;
    color: $color-primary;
  }
  &-right {
    font-size: 1em;
    color: #999;
  }
}
// 定义首页底部的标签栏文字大小颜色

%navbar-font {
  &-item {
    font-size: 1.4em;
    color: #666;
    text-align: center;
  }
  &-input {
    font-size: 1em;
    text-align: center;
    @include placeholder-color(#999);
  }
}
// 定义导航栏的文字样式

%home-list-group-font {
  &-top {
    font-size: 1.2em;
    color: #999;
    @extend %text-ellipsis;
  }

  &-middle {
    font-size: 1.4em;
    color: #333;
    @extend %text-ellipsis;
  }

  &-info {
    font-size: 1.5em;
    font-family: "HiraginoSansGBW3", sans-serif;
    color: $color-info;
    @extend %text-ellipsis;
  }

  &-bottom {
    @extend %home-list-group-font-top;
  }
}
// 定义首页的列表组的字体样式
